.input_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.input_wrapper input {
    width: 100%;
    padding: 5px;
    color: black;
    border: 2px solid transparent;

    font-size: 12px;

    transition: 0.1s;
}

.input_wrapper input:focus {
    outline: none;
    border: 2px solid #4B4038;
}

.login_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;

    user-select: none;

    transition: 0.1s;
}

.login_button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.login_button.login {
    color: black;
    background-color: #fce6a9;
}

.login_button.return {
    color: white;
    background-color: #202940;
}

.login_button.register {
    color: black;
    background-color: #aad6fa;
}