<head>
    <link rel="stylesheet" href="static/css/index.css" />
    <link rel="stylesheet" href="static/css/global.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="bg" />

    <form action="" id="edit_snippet_form"
        class="edit_snippet_form hidden" method = "POST">

        {{ form.hidden_tag() }}

        <h1 class="text-xl">Edit snippet</h1>

        <div class="edit_snippet_input_wrapper">
            <p>Name</p>
            <input name = "name" id="edit_snippet_name" class="edit_snippet_input" />
        </div>

        <div class="edit_snippet_input_wrapper">
            <p>Language</p>
            <input name = "language" id="edit_snippet_language" class="edit_snippet_input" />
        </div>

        <div class="edit_snippet_textarea_wrapper code">
            <p>Code</p>
            <textarea name = "code" id="edit_snippet_code" class="edit_snippet_input code"></textarea>
        </div>

        <div class="edit_snippet_textarea_wrapper description">
            <p>Description</p>
            <textarea name = "description" id="edit_snippet_description" class="edit_snippet_input description"></textarea>
        </div>

        <div class="flex flex-row gap-5 w-full items-center justify-center h-[40px]">
            <button id="edit_snippet_button_cancel" class="edit_snippet_button cancel" type="button">Cancel</button>
            <!-- normal button (specifying it in the type)-->
            <button class="edit_snippet_button save_changes" type="submit">Save changes</button>
            <!-- button for submit (specifying it in the type)-->
        </div>

    </form>

    <!-- title -->
    <div class="flex flex-col items-center justify-center h-[6rem] text-white">
        <h1 class="text-xl">Snippet saver</h1>
        <p>A page to save code snippets quick and easy.</p>

        <!-- login/register and logout buttons-->
        <div
            class="flex flex-row justify-center items-center absolute right-[30px] flex flex-row gap-5 text-center text-black">

            <!-- the login manager injects the templates with current_user, so we can use it here without passing anything in the route to the page.-->
            {% if current_user.is_authenticated %}
            <div class="flex flex-col justify-center items-center gap-2">
                <p class="text-white">Hello, {{ current_user.user_username }}</p>
                <a href="/auth/logout" class="account_button logout"">Logout</a>
            </div>
            {% else %}
            <a href=" /login_page" class="account_button login">Login</a>
                <a href="/register_page" class="account_button register">Register</a>
                {% endif %}

            </div>
        </div>

        <!-- add snippet -->
        <div
            class="flex flex-col w-full h-[25rem] p-[20px] gap-2 items-center justify-center text-white bg-[#03030336]">

            <!-- title -->
            <h1 class="text-lg">Add a new snippet</h1>

            <!-- form wrapper -->
            <div class="flex w-full h-[85%] items-center justify-center">

                <!-- form -->
                <form class="flex flex-row gap-5 h-full" method="POST" action="/snippets/new">

                    {{ form.hidden_tag() }}

                    <div class="flex flex-col gap-2 relative">

                        <div class="input_wrapper">
                            <p>Name</p>
                            <input name="name" type="text" class="add_snippet_input" placeholder="Snippet name"
                                required />
                        </div>

                        <div class="input_wrapper">
                            <p>Language</p>
                            <input name="language" type="text" class="add_snippet_input" placeholder="Snippet language"
                                required />
                        </div>

                        <!-- we use margin top to get the non absolute positioned object (the button) down the flex. -->
                        <button type="submit"
                            class="bg-[#4B4038] w-full h-[40px] mt-auto hover:opacity-[0.8]">Add</button>

                    </div>

                    <div class="input_wrapper">
                        <p>Snippet</p>
                        <textarea name="code" class="h-full w-[500px] add_snippet_input"
                            placeholder="Insert your snippet" required></textarea>
                    </div>

                    <div class="input_wrapper">
                        <p>Description</p>
                        <textarea name="description" class="h-full w-[300px] add_snippet_input"
                            placeholder="Add a description"></textarea>
                    </div>

                </form>

            </div>
        </div>

        <!-- snippets' list -->
        <!-- we can just do flex-wrap to make it so the flex breaks in lines when there's not enough space for the objects. this solves the problem when shrinking the width of the page for the cards.-->
        <div class="flex flex-row flex-wrap justify-start items-center gap-3 p-[20px]">
            {% for snippet in snippets %}

            <div class="saved_snippet">
                <div>
                    <h2>Name: {{ snippet.snippet_name }}</h2>

                    <p>Lang: {{ snippet.snippet_language }}</p>
                </div>

                <div
                    class="w-full h-[77%] bg-[#2e2e2e] p-[5px] rounded-[3px] border-solid border-[1px] border-[#5e5e5e]">

                    <div class="overflow-y-auto w-full h-[70%]">
                        <pre>{{ snippet.snippet_code }}</pre>
                    </div>

                    <div class="w-full h-[1px] bg-[#5e5e5e]"></div>

                    <div class="overflow-y-auto w-full h-[30%]">
                        <p>Description:</p>
                        <p>{{ snippet.snippet_description }}</p>
                    </div>

                </div>

                <!-- erase, edit and copy buttons-->
                <!-- we create forms for the required buttons, as we send information via POST with things like the snippet_id or other necessary data.-->
                <!-- seems like for the form we can just send the route like it's right now, specifying the blueprint and the function of the route.-->
                <!-- about the parameters, we specify the name of the parameter and we assign the value. as in this case we iterate through the snippets we can just use the snippet.snippet_id in this case.-->

                <div
                    class="absolute flex flex-row items-center justify-center gap-3 bottom-0 left-0 w-full h-[13%] p-[10px] gap-3">

                    <form class="snippet_card_button_wrapper"
                        action="{{ url_for('snippets.erase_snippet', snippet_id = snippet.snippet_id)}}" method="POST">
                        <button class="snippet_card_button erase">Erase</button>
                    </form>

                    <div class="snippet_card_button_wrapper">
                        <button class="snippet_card_button edit" data-snippet_name="{{snippet.snippet_name}}"
                            data-snippet_id="{{snippet.snippet_id}}"
                            data-snippet_language="{{snippet.snippet_language}}"
                            data-snippet_code="{{snippet.snippet_code}}"
                            data-snippet_description="{{snippet.snippet_description}}">Edit</button>
                    </div>

                    <div class="snippet_card_button_wrapper">
                        <button class="snippet_card_button copy"
                            data-snippet_code="{{ snippet.snippet_code}}">Copy</button>
                    </div>

                </div>
            </div>

            {% endfor %}
        </div>
    </div>

    <script src="../static/js/copyToClipboard.js"></script>
    <script src="../static/js/getEditSnippetPageData.js"></script>
</body>