<head>
    <link rel="stylesheet" href="static/css/index.css" />
    <link rel="stylesheet" href="static/css/global.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="bg" />

    <!-- title -->
    <div class="flex flex-col items-center justify-center h-[11%] text-white">
        <h1 class="text-xl">Snippet saver</h1>
        <p>A page to save code snippets quick and easy.</p>

        <!-- login/register and logout buttons-->
        <div
            class="flex flex-row justify-center items-center absolute right-[30px] flex flex-row gap-5 text-center text-black">

            <!-- the login manager injects the templates with current_user, so we can use it here without passing anything in the route to the page.-->
            {% if current_user.is_authenticated %}
            <div class="flex flex-col justify-center items-center gap-2">
                <p class="text-white">Hello, {{ current_user.user_username }}</p>
                <a href = "/auth/logout" class = "account_button logout"">Logout</a>
            </div>
            {% else %}
            <a href="/login_page" class="account_button login">Login</a>
            <a href="/register_page" class="account_button register">Register</a>
            {% endif %}

        </div>
    </div>

    <!-- add snippet -->
    <div class="flex flex-col w-full h-[40%] p-[20px] gap-2 items-center justify-center text-white bg-[#03030336]">

        <!-- title -->
        <h1 class="text-lg">Add a new snippet</h1>

        <!-- form wrapper -->
        <div class="flex w-full h-[85%] items-center justify-center">

            <!-- form -->
            <form class="flex flex-row gap-5 h-full" method="POST" action="/snippets/new">

                {{ form.hidden_tag() }}

                <div class="flex flex-col gap-2 relative">

                    <div class="input_wrapper">
                        <p>Name</p>
                        <input name="name" type="text" class="add_snippet_input" placeholder="Snippet name"
                            required />
                    </div>

                    <div class="input_wrapper">
                        <p>Language</p>
                        <input name="language" type="text" class="add_snippet_input"
                            placeholder="Snippet language" required />
                    </div>

                    <!-- we use margin top to get the non absolute positioned object (the button) down the flex. -->
                    <button class="bg-[#4B4038] w-full h-[40px] mt-auto hover:opacity-[0.8]">Add</button>

                </div>

                <div class="input_wrapper">
                    <p>Snippet</p>
                    <textarea name="code" class="h-full w-[500px] add_snippet_input"
                        placeholder="Insert your snippet" required></textarea>
                </div>

                <div class="input_wrapper">
                    <p>Description</p>
                    <textarea name="description" class="h-full w-[300px] add_snippet_input"
                        placeholder="Add a description"></textarea>
                </div>

            </form>

        </div>
    </div>

    <!-- snippets' list -->
    <div class="flex flex-row gap-3 p-[20px]">

        {% for snippet in snippets %}

        <a class="saved_snippet">
            <div>
                <h2>Name: {{ snippet.snippet_name }}</h2>

                <p>Lang: {{ snippet.snippet_language }}</p>
            </div>

            <div class="w-full h-full bg-[#2e2e2e] p-[5px] rounded-[3px] border-solid border-[1px] border-[#5e5e5e]">
                <pre>{{ snippet.snippet_code }}</pre>
            </div>
        </a>

        {% endfor %}
    </div>

</body>